.field {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 1px;
  background: white;
}

.ship {
  background: green;
}